body{
/* align-items: center;
justify-content: center;
flex-direction: column; */
}
.homes{
background-image: url(suit-trends.jpg);
}

.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }

